.info {
    width: 64%;
    background-color: white;
    border: 1px solid #CECECE;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.content {
    margin-left: 20px;
    border-bottom: 2px solid #CECECE;
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleSubject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom:5px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin: 0;
}

.titleSubject div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subject {
    background-color: #00DC77CC;
    color: white;
    border-radius: 10px;
    padding: 5px 25px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.basicInfo {
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: -2.2%;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.date {
    font-weight: 650;
    margin-bottom: -10px;
    margin-top: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 150px;
    padding-right: 150px;
}

.buttons .ant-btn {
    width: 150px;
}