.circle {
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newStudentCircle {
    border-radius: 50%;
    background-color: white;
    border: 1px solid #31E190;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newTutorCircle {
    border-radius: 50%;
    background-color: white;
    border: 1px solid #5D7EF2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle p {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    font: 'Futura';
}

.tutor {
    color: #5D7EF2;
}

.newTutor {
    color: black;
}

.student {
    color: #31E190;
}

.newStudent {
    color: black;
}